<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>
    .btn-space{
    	margin-right: 10px;
    }
    </style>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Patient Home</title>
  </head>
  <body>
  <!-- Header/Banner -->
    <div class="jumbotron text-center">
      <h1>Welcome Home</h1>
      <h3>Accessible health care at you convenience</h3>
      
      <!-- Navigation Bar -->
      <div th:replace="patient/patient-nav"></div>
    </div>
    
    <!-- Content div -->
    <div class="container col-sm-9" ><!-- style="background-color:grey;" -->
    	<!-- Model - For ViewingPrescriptions -->
    	<div id="presModal" class="modal fade" role="dialog">
    		<div class="modal-dialog">
    			<!-- Modal Content  -->
    			<div class="modal-content">
    				<div class="modal-header">
    					<h4 class="modal-title">Prescription</h4>
    					<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle" style="color:red;" aria-hidden="true"></i></button>
    				</div>
    				<div class="modal-body">
    					<h5 id="presModal-subTitle"></h5>
    					<p id="presModal-body"></p>
    				</div>
    			</div>
    		</div>
    		
    	</div>
    	
    	<br>
   
    	<div class="row">
	    	<!-- Active Prescriptions -->
	    	<div class="col-sm-6"> 
	    		<!-- Table -->
	    		<table class="table">
	    			<thead>
	    				<tr>
		    				<th colspan="2">Active Prescriptions</th>
	    				</tr>
	    			</thead>
	    			<tbody id="prescriptions">
	    			<!-- Fill via ajax method -->
	    			</tbody>
	    		</table>
	    	</div>
	    	
	    	<!-- Next Appointment -->
	    	<div class="col-sm-6">
	    		<!-- Table -->
	    		<table class="table">
	    			<thead>
	    				<tr>
		    				<th colspan="2">Next Appointment</th>
	    				</tr>
	    			</thead>
	    			<tbody id="appointments">
		    		<!-- Filled via ajax method -->
	    			</tbody>
	    		</table>
	    	</div>
    	</div>
    	
    	<div class="row">
    	<!-- Last Message -->
    	<div class="col-sm-6"> 
	    		<!-- Table -->
	    		<table class="table">
	    			<thead>
	    				<tr>
		    				<th colspan="2">Last Message</th>
	    				</tr>
	    			</thead>
	    			<tbody id="lastMessage">
	    			<!-- Fill via ajax method -->
	    			</tbody>
	    		</table>
	    	</div>
	    	
    	<!-- Notes -->
    	<div class="col-sm-6"> 
	    		<!-- Table -->
	    		<table class="table">
	    			<thead>
	    				<tr>
		    				<th colspan="2">Notes</th>
	    				</tr>
	    			</thead>
	    			<tbody id="notes">
	    			<!-- Fill via ajax method -->
	    			</tbody>
	    		</table>
	    	</div>
	    </div>
    	<br><br><br><br><br><br>
    </div>
    
	  <div id="cancelAppointmentModel" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Are you Sure?</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span><!-- &times for x button -->
	        </button>
	      </div>
	      <div class="modal-body">
	        <p>If yes, tell us why and we might be able to reschedule or find a way to make it work.</p>
	        <textarea id="appointment-modal-text"></textarea>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary">Save changes</button>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
  </body>
  <script>
  
  /* Set Prescirption name and Description */
  var dataStore;//stores Prescription data
  var dataAppointments;
  var dataMessages;
  var dataNotes;
  
  
  /*View Prescriptions*/
  function displayPrescription(i) {
	  console.log("*********** displayPrescriptionModal called ***********");
	  $('#presModal-subTitle').text(dataStore.prescriptions[i].medication.name);
	  $('#presModal-body').text(dataStore.prescriptions[i].directions);
  } 
  
  
  /*Asks patient if they are sure and provides
  information as to why cancel or reschedules is necessary.
  i.e. "Are you sure? Is there something we can do to help?"*/
  function cancelAppointmentModal(i) {
	$('cancelAppointmentModal').show();
  }
  
  /*Submits text from AppointmentModal.
   Allows admins to confirm cancellation or perform reschedulling as neccessary.
  */
  function cancelAppointmentModalSubmitText(i) {
	  var message = $('cancelAppointmentModal').val();
	  cancelAppointment(i,message);
  }
  
  function cancelAppointment(i,message) {
	  $.ajax({
		  type:"POST",
		  url:'/ajax/patient/appointments/cancel/'+dataAppointments[i].id+"/"+message,
		  success:function(response) {
			  var dString = JSON.stringify(response);
			  var data = JSON.parse(dString);
			  if (data.count == 0) {
				  console.log("data count zero if statement");
				  $('#appointments').html("<tr><td>No Active Prescriptions</td></tr>");
			  } else {
				  dataStore = data;
				  var m = "";
				  for (var i = 0 ; i < data.listSize; i++ ) {
					  m += '<tr><td>'+data.prescriptions[i].medication.name+'</td>'
					  + '<td><button onclick="displayPrescription('+i+')\" class="btn btn-primary btn-space" data-toggle="modal" data-target="#presModal">View</button>'
					  +'<button onclick="cancelPrescription('+data.prescriptions[i].id+')\;" class="btn btn-danger">Cancel</button></td></tr>';
				  }
				  console.log("Show output:\n"+m);
				  $('#appointments').html(m);
			  }
		  },
		  error:function() {
			  $('#appointments').html("An error has occured. Please try refreshing the page.");
		  }
	  })
	  
  }
  
  
  //RETRIEVE
  /* Method to retrieve active prescriptions */
  $(document).ready(function(){
	  $.ajax({
		  type:'GET',
		  url:'/ajax/patient/prescriptions',
		  success:function(response) {
			  var dString = JSON.stringify(response);
			  var data = JSON.parse(dString);
			  if (data.count == 0) {
				  console.log("data count zero if statement");
				  $('#prescriptions').html("<tr><td>No Active Prescriptions</td></tr>");
			  } else {
				  dataStore = data;
				  var m = "";
				  for (var i = 0 ; i < data.listSize; i++ ) {
					  m += '<tr><td>'+data.prescriptions[i].medication.name+'</td>'
					  + '<td><button onclick="displayPrescription('+i+')\" class="btn btn-primary btn-space" data-toggle="modal" data-target="#presModal">View</button></td></tr>';
				  }
				  console.log("Show output:\n"+m);
				  $('#prescriptions').html(m);
			  }
		  },
		  error:function() {
			  $('#prescriptions').html("An error has occured. Please try refreshing the page.");
		  }
	  });
  });
  
  /* Method to retrieve next appointments */
  $(document).ready(function(){
	  $.ajax({
		  type:'GET',
		  url:'/calendar/patient/events',
		  success:function(data) {
			  dataAppointments = data;
			  if (data.response == false) {
				  $('#appointments').html(data.message);
			  } 
			  else {
				  var m = "";
				  for (var i = 0 ; i < data.listSize; i++ ) {
					  m += '<row><td>'+data.message+'</td>'
					  + '<td><button onclick="cancelAppointmentModal('+i+')">Cancel</button>';
				  }
				  console.log('appointments:'+m);
				  $('#appointments').html(m);
			  }
		  },
		  error:function(){
			  
		  }
	  });
  });
  
  /*Test*/
/*   $(document).ready(function(){
	  $.ajax({
		  type:'GET',
		  url:'/calendar/test',
		  success:function(data) {
			  dataAppointments = data;
				  m += '<row><td>'+data.message+'</td>'
				  + '<td><button onclick="cancelAppointmentModal('+i+')">Cancel</button>';
			  console.log('appointments:'+m);
			  $('#appointments').html(m);
		  },
		  error:function(){
			  
		  }
	  });
  }); */
  //FILL
  /* Method to fill active prescriptions */
  
  /* Method to fill Next appointment */
  
  </script>
</html>
