<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<title>Register Patient</title>
</head>
<body>
<div class="jumbotron text-center">
      <h1>Welcome to the Patients Health Services</h1>
      <h3>We're here to help</h3>
    <!--  Navigation Bar  -->
    <div th:replace="home/home-nav"></div>
    </div>
    
    <!-- While ajax is great for registration - not using disuades other invdividuals from attempting to 
    obtain valid usernames as submiting hunders of usernames to obtain valid one is more tedious without the use of ajax
    could be used safely on admin pages though as they are already authenticated / trusted users-->
    <div class="container d-flex flex-sm-column col-sm-8 justify-content-center">
    <form class="form-group"action="#" th:action="@{/register/patient}" th:object="${patientRegForm}" method="POST">
    	<label>Name</label>
    	<input class="form-control text-center" type="text" th:field="*{name}" placeholder="Henry Thompson"></input>
    	<div class="alert alert-info" id="username-error"></div>
    	<label>Username</label>
    	<input class="form-control text-center" type="text" th:field="*{username}" placeholder="Enstein92"></input>
    	<label>Password</label>
    	<input class="form-control text-center" type="text" th:field="*{password}" placeholder="SomeThingICanRemeber!56" 
    	pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"></input>
    </form>
    </div>
    
    

</body>
<script>
$('#username-error').hide();
$('#username-error').html('<p class="alert alert-info">Username already exists. Choose another username.</p>');

$(document).ready(function(){
	$("#username").keyup(function(){
		$('#username-error').hide();
		$.ajax({
			type:"GET",
			url:"ajax/is-user/"+$("#username").val(),
			success: function(result) {
				 if ($.trim(result) == '{}') {
					
				} else {
					console.log(result);
					/* var str = JSON.stringify(result); */
					var data = JSON.parse(result);
					var res = data.response;
					console.log("Ready functions working.");
					if (res == true) {
						$('#username-error').show();
						console.log("Username already exists. Choose another username.");
					} else {
						$('#username-error').hide();
					}
				 } 
			}
		});
	});
});
</script>

</html>